.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.idea
.npm
node_modules/
packages/
.eslintignore
.eslintrc.json
.eslintrc.js
.prettierrc
package-lock.json
tsconfig.*.json
webpack.*.js
vite.config.ts